@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.main_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p_mainText {
  color: black;
  font-family: 'Montserrat', sans-serif;

  font-size: 1.8rem;
  font-weight: 800;
}
