@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  padding: 0;
  margin: 0;
  height: 100vh;

  background-image: linear-gradient(
    to right top,
    #ffffff,
    #f9f9f9,
    #f2f2f2,
    #ececec,
    #e6e6e6
  );
}

#root {
  font-family: 'Montserrat', sans-serif;
}
